# .NET build artifacts
**/bin/
**/obj/

# Node.js artifacts
node_modules/
dist/

# Python artifacts
venv/
__pycache__/
*.pyc

# Local Database Data (Ignore these!)
infra/local/postgres_data/
infra/local/mongodb_data/
infra/local/localstack_data/

# Environment secrets
.env